<!-- <button mat-raised-button color="primary">Hello world</button>
<button mat-flat-button color="primary">Hello world</button>
<button mat-stroked-button color="primary">Hello world</button>

<button mat-icon-button color="primary">T</button>
<button mat-fab color="primary">T</button>
<button mat-mini-fab color="primary">T</button>

<button mat-raised-button color="primary">primary</button>
<button mat-raised-button color="accent">accent</button>
<button mat-raised-button disableRipple color="warn">warned</button> -->

<!-- <div>
  <mat-button-toggle checked disableRipple disabled #toggleBtn
    >Toggle</mat-button-toggle
  >
  {{ toggleBtn.checked }}
</div>

<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{ toggleGroup.value }}
</div>
 -->

<!-- <div>
  <mat-icon color="primary">delete</mat-icon>
</div>
 -->

<div>
  <span matBadge="12">Notifications</span>
</div>
<div>
  <span matBadge="12" matBadgePosition="below before">Notifications</span>
</div>

<div>
  <span matBadge="12" matBadgePosition="below after">Notifications</span>
</div>

<div>
  <span matBadge="12" matBadgePosition="above before">Notifications</span>
</div>
